  <div class="hs-caption container" id="SIform" style="display: none;">
    <div class="caption-content">
      <div class="hs-title-size-4 font-alt m-b-30">

        <%= form_tag 'login', class: "form login-form" do %>
          <fieldset>
            <%= label_tag :email %>
            <%= text_field_tag :email %>
        </fieldset>
        <fieldset>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
        </fieldset>
            <%= submit_tag 'Sign In', class: "btn btn-border-d btn-circle" %>
        <% end %>
<a class="btn btn-border-d btn-circle btn-lg" id="BackSI" href="#"></i>Back</a>
</div>
</div>
</div>
