<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <%= render partial: "leagues/dashboard_jumbotron", locals: {league: @league} %>
   <!-- /HOME -->
   <!-- PORTFOLIO DESCRIPTION -->
   <%= render "layouts/messages" %>
   <section class="module-small">

     <div class="container">

       <div class="row">

         <div class="col-sm-6">

           <div class="work-details">
             <h2 class="work-details-title font-alt">Managers</h2>
             <ul id="managers-list">
               <% if @league.managers.count == 0 %>
               <li class="font-inc" id="no-manager"><strong>No managers</strong></li>
               <% else %>
               <% @managers.each do |manager| %>
               <%= link_to league_manager_path(@league, manager) do %>
               <h4><li class="font-inc"><strong><%= manager.name %>: </strong><%= manager.email %></li></h4>
               <% end %>
                 <li class="font-inc"><strong>EDIT | DELETE | EMAIL | TEXT</li>
                <% end %>
              <% end %>
             </ul>
           </div>

         </div>

         <div class="col-sm-6">

           <div class="work-details">
             <h2 class="work-details-title font-alt">Something here</h2>
           </div>

       </div>

     </div>

   </section>
