<!-- WRAPPER -->
<div class="wrapper">

  <!-- HOME -->
  <%= render "leagues/dashboard_jumbotron" %>
  <!-- /HOME -->
		<!-- PORTFOLIO -->
		<section class="module-small p-t-20 p-b-60" id="League_Create_Form">

			<div class="container">

        <!-- NEW LEAGUE FORM -->
        <div class="row">
        <h4 class="font-alt m-t-0 m-b-0">League Buy-In</h4>
       <hr class="divider-w m-t-10 m-b-20">


        <%= form_for [@league, @due] do |f| %>
          <%= f.label :amount, 'Set Buy-In: ' %>
          <%= f.text_field :amount %><br><br>

          <%= f.submit 'Submit', class: "btn btn-border-d btn-circle btn-lg"  %>

        <% end %>
        <br>

      </div>
    </div>
  </section>
<div>
        <!-- /NEW LEAGUE FORM -->



        		<!-- FOOTER -->


        		<!-- /FOOTER -->
