<div class="hs-caption container" id="Create_Commish" style="display: none;">
  <div class="caption-content">
    <div class="hs-title-size-4 font-alt m-b-30">

<%= form_for (@commissioner) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :password %>
  <%= f.text_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br>

  <%= f.submit 'Create', class: "btn btn-border-d btn-circle"  %>
<% end %>
<a class="btn btn-border-d btn-circle btn-lg" id="BackSU" href="#"></i>Back</a>
</div>
</div>
</div>
