<% if signed_in? %>
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>

        </button>
          <%= link_to "CD", league_path(current_user.id), class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">

        <ul class="nav navbar-nav navbar-right">

          <li class="Home">
            <a href="/leagues/<%=current_user.id%>">Home</a>
          </li>



          <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">Tools</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/leagues/<%=current_user.id%>"><i class="league"></i>League</a></li>
              <li><a href="/leagues/<%=current_user.id%>/dues"><i class="finances"></i>Finances</a></li>
              <li><a href="/drafts"><i class="new"></i>Draft Calendar</a></li>
              <li><a href="/news"><i class="injury-report"></i>News</a></li>

            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">Profile</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/commissioners/<%=current_user.id%>"<i class="account"></i>Account</a></li>
              <li><a href="/logout"><i class="payout"></i>Logout</a></li>

            </ul>
          </li>
        </ul>
      </div>

    </div>

</nav>
<% end %>
